In [3]:
from pathlib import Path
import pandas as pd
import win32com.client as win32
from pathlib import Path
import os
import datetime
from win10toast import ToastNotifier

In [4]:
# Locate examples files & create output directory
Excel_file_path = Path.cwd() / "US80 Gateway.xlsx"
ATTACHMENT_DIR = Path.cwd() / "US80_Attachments"
ATTACHMENT_DIR.mkdir(exist_ok=True)

In [5]:
Excel_file_path

WindowsPath('C:/Users/kendrav/OneDrive - Ecolab/13week EBS/US80/US80 Gateway.xlsx')

In [6]:
# Load data into dataframe
data = pd.read_excel(Excel_file_path)

In [7]:
data['Delivery date']=data['Delivery date'].dt.strftime("%d-%m-%Y")

In [8]:
data.head()

,Plant,Vendor,Vendor Name,Vendor mat.no.,Product,Purchase Grp,Product name,Delivery date,Forecast Qty,Purchase Order Number,Order Quantity Base UoM,PO UoM,Vendor_Name
0,US80,1044476,A & M INDUSTRIES,NaN,85170785,N71,NPL RDCG 1/2MNPTX3/8MNPT PP,21-02-2022,50.0,FORECAST,NaN,ST,A and M Industries
1,US80,1044476,A & M INDUSTRIES,NaN,85170785,N71,NPL RDCG 1/2MNPTX3/8MNPT PP,18-04-2022,50.0,FORECAST,NaN,ST,A and M Industries
2,US80,1044476,A & M INDUSTRIES,NaN,85170785,N71,NPL RDCG 1/2MNPTX3/8MNPT PP,16-05-2022,50.0,FORECAST,NaN,ST,A and M Industries
3,US80,1044476,A & M INDUSTRIES,NaN,85170785,N71,NPL RDCG 1/2MNPTX3/8MNPT PP,13-06-2022,200.0,FORECAST,NaN,ST,A and M Industries
4,US80,1044476,A & M INDUSTRIES,NaN,85170785,N71,NPL RDCG 1/2MNPTX3/8MNPT PP,01-08-2022,50.0,FORECAST,NaN,ST,A and M Industries

In [9]:
column_name = data.columns[12]
unique_values = data[column_name].unique()

In [10]:
len(unique_values)

118

In [11]:
# Query/Filter the dataframe and export the filtered dataframe as an Excel file
for unique_value in unique_values:
    data_output = data[data[column_name]==unique_value]
    output_path = ATTACHMENT_DIR / f"US80_Roscoe_Forecast_{unique_value}.xlsx"
    data_output.to_excel(output_path, index=False)

In [12]:
n = ToastNotifier()
n.show_toast("US80 Attchemnts Notification", f"{len(unique_values)} Attachments Saved !!", duration=10)

True

In [13]:
print("All The Vendor Files were saved into US80_Forecast_Attachments folder at :",datetime.datetime.now().strftime("%d-%b-%Y %H-%M-%S"))

All The Vendor Files were saved into US80_Forecast_Attachments folder at : 01-Feb-2022 17-49-40